:root {
  --main-color: #61DAFB;
  --icon-size: 25px;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .todo ul li:before,
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.only-logo {
  align-items: start;
}

.only-logo .App-logo {
  height: 10vmin;
}

.only-logo > *:not(.App-logo) {
  display: none;
}

.todo ul {
  list-style-type: none;
  color: #fff;
}

.todo ul li {
  position: relative;
  text-align: start;
  padding-left: var(--icon-size);
}

.todo ul li:before {
  background: url("./logo.svg") no-repeat center;
  content: '';
  height: var(--icon-size);
  width: var(--icon-size);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
